<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/tags.css">
    <link rel="stylesheet" href="../css/comment.css">
    <link rel="stylesheet" href="../css/categories.css">
    <link rel="stylesheet" href="../css/plugs_paging.css">

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <scrip src="js/dashboard.js"></scrip>
    <title>Hello, world!</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/front/show}">Tiger Blog</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/front/show}">首页</a></li>
                <li><a href="https://github.com/Huuzii77">项目</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        菜单
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/front/categories}">分类</a></li>
                        <li><a th:href="@{/front/tags}">标签</a></li>
                        <li><a th:href="@{/front/update}">更新</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/front/friendLink}">友链</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/front/aboutme}">关于我</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <ul class="nav navbar-nav navbar-right" th:if="${session.userName}">
            <li>
                <a th:href="@{/front/write}"><span class="glyphicon glyphicon-pencil"></span> 写博客</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${session.userName}">
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/front/user}">个人中心</a></li>
                    <li><a th:href="@{/front/admin}">网站后台管理</a></li>
                    <li><a id="modal-870181" href="#modal-container-870181" role="button" class="btn" data-toggle="modal">反馈</a></li>
                    <li class="divider"></li>
                    <li><a th:href="@{/front/logout}">退出登录</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" th:unless="${session.userName}">
            <li><a href="/front/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
            <li><a href="/front/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
        </ul>
    </div>
</nav>

<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-3 col-sm-9">
                <!--左侧-->
                <div class="col-sm-3">
                    <div class="categories">
                        <div class="categories-title">
                            <h3 style="font-size: 20px">Categories</h3>
                        </div>
                        <div class="categories-comment">

                        </div>
                    </div>
                </div>
                <!--右侧-->
                <div class="col-sm-6">
                    <div class="categoryTimeline">
                        <!--消除留言先加载视觉效果-->
                        <div class="timeline timeline-wrap">
                            <div class="timeline-row">
                                    <span class="node" style="-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;">
                                        <i class=""></i>
                                    </span>
                                <h1 class="title"></h1>
                            </div>
                            <div class="timeline-row-major">
                                <div style="height: 88.4px">
                                </div>
                            </div>
                            <div class="timeline-row-major">
                                <div style="height: 88.4px">
                                </div>
                            </div>
                            <div class="timeline-row-major">
                                <div style="height: 88.4px">
                                </div>
                            </div>
                            <div class="timeline-row-major">
                                <div style="height: 88.4px">
                                </div>
                            </div>
                            <div class="timeline-row-major">
                                <div style="height: 88.4px">
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <br><br><br><br>
                
                
                <!--留言-->
                <div class="col-sm-9">
                    <div class="zhy-link-word">
                        <div class="comment"></div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>

<br><br><br>
<div class="jumbotron text-center" style="margin-bottom:0">
    <p>blog<br>
        <small>© Copyright XXX. by the helloTiger.</small>
    </p>
</div>

<!--反馈-->
<div class="modal fade" id="modal-container-870181" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    反馈
                </h4>
                <p>您对于本博客网站有任何意见或是存在Bug的地方，欢迎进行反馈</p>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>非常感谢您抽出时间填写问题反馈。必填</label>
                        <textarea id="feedbackFormContent" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="feedbackFormQQ">留下联系方式</label>
                        <input type="text" class="form-control" id="feedbackFormQQ" placeholder="方便留下微信或是QQ联系你吗？选填">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary" id="feedbackFormBtn" data-dismiss="modal">保存</button>
            </div>
        </div>
    </div>
</div>


<script src="../js/all.js"></script>
<script src="../js/categories.js"></script>
<script src="../js/plugs_paging.js"></script>

<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<!--Valine 的核心代码库-->
<script src="../js/Valine.min.js"></script>
<script>
    new Valine({
        // AV 对象来自上面引入av-min.js(老司机们不要开车➳♡゛扎心了老铁)
        av: AV,
        el: '.comment',
        emoticon_url: 'https://cloud.panjunwen.com/alu',
        emoticon_list: ["吐.png","期待.png","高兴.png","吐血倒地.png","哭泣.png","欢呼.png"],
        app_id: 'kdQs34lL7suNPnkPmq8APkA8-gzGzoHsz', // 这里填写上面得到的APP ID
        app_key: 'YEXD5D7qjfwvA8C0LzUMpTvh', // 这里填写上面得到的APP KEY
        placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!', // 留言框占位提示文字
    });
</script>
</body>
</html>