<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Hello, world!</title>
</head>
<body>


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/front/show}">Blog</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/front/show}">首页</a></li>
                <li><a href="#">项目</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        菜单
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">分类</a></li>
                        <li><a href="#">标签</a></li>
                        <li><a href="#">更新</a></li>
                        <li class="divider"></li>
                        <li><a href="#">友链</a></li>
                        <li class="divider"></li>
                        <li><a href="#">关于我</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <ul class="nav navbar-nav navbar-right" th:if="${session.userName}">
            <li>
                <a th:href="@{/front/write}"><span class="glyphicon glyphicon-pencil"></span> 写博客</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${session.userName}">
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/front/user}">个人中心</a></li>
                    <li><a href="#">网站后台管理</a></li>
                    <li><a href="#">反馈</a></li>
                    <li class="divider"></li>
                    <li><a th:href="@{/front/logout}">退出登录</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" th:unless="${session.userName}">
        <li><a href="/front/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
        <li><a href="/front/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
    </ul>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-xs-offset-1 col-sm-6">
            <h2>标题</h2>
            <h5>副标题</h5>
            <div class="fakeimg">图像</div>
            <p>一些文本..</p>
            <p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>
            <br>
            <h2>标题</h2>
            <h5>副标题</h5>
            <div class="fakeimg">图像</div>
            <p>一些文本..</p>
            <p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>
            <br><br>
            <div class="col-xs-offset-1 col-sm-7">
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a></li>
                    <li class="next"><a href="#">Newer &rarr;</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        关于我
                    </h3>
                </div>
                <div class="panel-body">
                    <p>前所未有的中文云端字型服务，让您在 web 平台上自由使用高品质中文字体，跨平台、可搜寻，而且超美。云端字型是我们的事业，推广字型学知识是我们的志业。从字体出发，关心设计与我们的生活，justfont blog 正是為此而生。</p>
                    <button type="button" class="btn btn-primary">查看更多</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">文章目录</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="http://amazeui.org/examples/blog.html#">Google fonts 的字體（sans-serif 篇）</a></li>
                    <li class="list-group-item"><a href="http://amazeui.org/examples/blog.html#">[but]服貿最前線？－再訪桃園機場</a></li>
                    <li class="list-group-item"><a href="http://amazeui.org/examples/blog.html#">到日星鑄字行學字型</a></li>
                    <li class="list-group-item"><a href="http://amazeui.org/examples/blog.html#">glyph font vs. 漢字（上）</a></li>
                    <li class="list-group-item"><a href="http://amazeui.org/examples/blog.html#">浙江民間書刻體上線</a></li>
                    <li class="list-group-item"><a href="http://amazeui.org/examples/blog.html#">[極短篇] Android v.s iOS，誰的字體好讀？</a></li>
                </ul>
            </div>
            
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>
        
    </div>
</div>



<div class="jumbotron text-center" style="margin-bottom:0">
    <p>blog<br>
        <small>© Copyright XXX. by the helloTiger.</small>
    </p>
</div>

</body>
</html>