<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mapper.CategoriesMapper" >
  <resultMap id="BaseResultMap" type="com.zking.entity.Categories" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="categoryName" jdbcType="VARCHAR" javaType="java.lang.String" />
        <arg column="display_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, categoryName,display_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from categories
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from categories
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.entity.Categories" >
    insert into categories (id, categoryName)
    values (#{id,jdbcType=INTEGER}, #{categoryname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.entity.Categories" >
    insert into categories
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categoryname != null" >
        categoryName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryname != null" >
        #{categoryname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.entity.Categories" >
    update categories
    <set >
      <if test="categoryname != null" >
        categoryName = #{categoryname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.entity.Categories" >
    update categories
    set categoryName = #{categoryname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listCategories" resultType="com.zking.entity.Categories">
        select
        <include refid="Base_Column_List" />
        from categories
  </select>
    <select id="findCategoriesName" resultType="java.lang.String">
        select
        categoryname
        from categories
    </select>
</mapper>