<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.dao.FishMapper">
  <resultMap id="BaseResultMap" type="com.zking.entity.Fish">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="publishName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="price" javaType="java.lang.Float" jdbcType="REAL" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, publishName, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fish
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fish
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zking.entity.Fish">
    insert into fish (id, name, publishName, 
      price)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{publishname,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL})
  </insert>

    <insert id="insertSelective" parameterType="com.zking.entity.Fish">
        insert into fish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="publishname != null">
                publishName,
            </if>
            <if test="price != null">
                price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="publishname != null">
                #{publishname,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=REAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zking.entity.Fish">
        update fish
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="publishname != null">
                publishName = #{publishname,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=REAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zking.entity.Fish">
    update fish
    set name = #{name,jdbcType=VARCHAR},
      publishName = #{publishname,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="listFish" resultType="com.zking.entity.Fish">
        select
        <include refid="Base_Column_List" />
        from fish
        limit #{pageNum},#{pageSize}
    </select>
    <select id="countFish" resultType="java.lang.Integer">
        select count(*) from fish;
    </select>
    <update id="updateStatement" parameterType="com.zking.entity.Fish">
        <![CDATA[
        update fish set name=#{name} where id=#{id};
        ]]>
    </update>

    <select id="selectFish" resultType="com.zking.entity.Fish">
        select
        <include refid="Base_Column_List" />
        from fish
        <where>
            1=1
            <if test="name != null ">
                and name = #{name}
            </if>
            <if test="publishName != null ">
                and publishName = #{publishName}
            </if>
        </where>
        limit #{pageIndex},#{pageSize}
    </select>

</mapper>