<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.dao.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.zking.entity.Shop" >
    <constructor >
      <arg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="location" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
    <sql id="Base_Column_List">
    id, name, location
  </sql>
  <insert id="insert" parameterType="com.zking.entity.Shop" >
    insert into shop (id, name, location
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}
      )
  </insert>
    
  <insert id="insertSelective" parameterType="com.zking.entity.Shop" >
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="location != null" >
        location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    
    <select id="listShop" resultType="com.zking.entity.Shop">
        select
        <include refid="Base_Column_List" />
        from shop
        limit #{pageNum},#{pageSize}
    </select>
    <select id="selectByLocation" resultType="com.zking.entity.Shop">
        select
        <include refid="Base_Column_List" />
        from shop
        where location=#{location}
        limit #{pageNum},#{pageSize}
    </select>


    <update id="updateById" parameterType="com.zking.entity.Shop">
        <![CDATA[
        update shop set name=#{name} where id=#{id};
        ]]>
    </update>
    <delete id="deleteById" parameterType="com.zking.entity.Shop">
        <![CDATA[
        delete from shop where id=#{id};
        ]]>
    </delete>
    
    
</mapper>