<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zking.entity.User" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="avatarImgUrl" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="birthday" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="personalBrief" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="recentlyLanded" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="trueName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
    
    
  <sql id="Base_Column_List" >
    id, avatarImgUrl, birthday, email, gender, password, personalBrief, phone, recentlyLanded, 
    trueName, username
  </sql>
    
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.entity.User" >
    insert into user (id, avatarImgUrl, birthday, 
      email, gender, password, 
      personalBrief, phone, recentlyLanded, 
      trueName, username)
    values (#{id,jdbcType=INTEGER}, #{avatarImgUrl,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{personalBrief,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{recentlyLanded,jdbcType=VARCHAR}, 
      #{trueName,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="avatarImgUrl != null" >
        avatar_img_url,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="personalBrief != null" >
        personal_brief,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="recentlyLanded != null" >
        recently_landed,
      </if>
      <if test="trueName != null" >
        true_name,
      </if>
      <if test="username != null" >
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="avatarImgUrl != null" >
        #{avatarImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="personalBrief != null" >
        #{personalBrief,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="recentlyLanded != null" >
        #{recentlyLanded,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.entity.User" >
    update user
    <set >
      <if test="avatarImgUrl != null" >
          avatarImgUrl = #{avatarImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="personalBrief != null" >
          personalBrief = #{personalBrief,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="recentlyLanded != null" >
          recentlyLanded = #{recentlyLanded,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
          trueName = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    
    
    
  <update id="updateByPrimaryKey" parameterType="com.zking.entity.User" >
    update user
    set avatarImgUrl = #{avatarImgUrl,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      personalBrief = #{personalBrief,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      recentlyLanded = #{recentlyLanded,jdbcType=VARCHAR},
      trueName = #{trueName,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    
    
    

    <select id="selectByUsernameAndPassword" resultType="com.zking.entity.User">
        select
        <include refid="Base_Column_List" />
        from user
        where username = #{username} 
        and password = #{password}
    </select>
    <select id="findUserIdByUsername" resultType="java.lang.Integer">
        select
        id
        from user
        where username = #{username}
    </select>
    <select id="findUsernameByUsername" resultType="com.zking.entity.User">
        select
        <include refid="Base_Column_List" />
        from user
        where username = #{username}
    </select>
    <select id="getUserPersonalInfo" resultType="com.zking.entity.User">
        select
        <include refid="Base_Column_List" />
        from user
        where username = #{username}
    </select>
    <update id="savePersonalDate" parameterType="com.zking.entity.User" >
        update user
        <set>
            <if test="user.avatarImgUrl != null" >
                avatarImgUrl = #{user.avatarImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="user.birthday != null" >
                birthday = #{user.birthday,jdbcType=VARCHAR},
            </if>
            <if test="user.email != null" >
                email = #{user.email,jdbcType=VARCHAR},
            </if>
            <if test="user.gender != null" >
                gender = #{user.gender,jdbcType=VARCHAR},
            </if>
            <if test="user.password != null" >
                password = #{user.password,jdbcType=VARCHAR},
            </if>
            <if test="user.personalBrief != null" >
                personalBrief = #{user.personalBrief,jdbcType=VARCHAR},
            </if>
            <if test="user.phone != null" >
                phone = #{user.phone,jdbcType=VARCHAR},
            </if>
            <if test="user.recentlyLanded != null" >
                recentlyLanded = #{user.recentlyLanded,jdbcType=VARCHAR},
            </if>
            <if test="user.trueName != null" >
                trueName = #{user.trueName,jdbcType=VARCHAR},
            </if>
            <if test="user.username != null" >
                username = #{user.username,jdbcType=VARCHAR},
            </if>
        </set>
        where username = #{username,jdbcType=INTEGER}
    </update>
    <select id="findUsernameById" resultType="java.lang.String">
        select
        username
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findIdByUsername" resultType="java.lang.Integer">
        select
        id
        from user
        where username = #{username,jdbcType=INTEGER}
    </select>
</mapper>